@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.container {
  width: 1620px;
  margin: 0 auto;
}
@media (max-width: 1640px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1220px) {
  .container {
    width: 100%;
    padding: 15px;
  }
}

h1, h2, h3, h4 {
  font-style: normal;
  font-weight: 400;
}

.text-block h3 {
  font-weight: 400;
  font-size: 34px;
  margin-top: 25px;
}
@media (max-width: 1210px) {
  .text-block h3 {
    font-size: 24px;
  }
}
.text-block blockquote {
  margin-top: 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  padding-left: 20px;
  border-left: 4px solid #147BB5;
}
@media (max-width: 1210px) {
  .text-block blockquote {
    font-size: 18px;
  }
}
.text-block p {
  margin-top: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
}
@media (max-width: 1210px) {
  .text-block p {
    font-size: 16px;
  }
}
.text-block .ul-with-blue-circles {
  padding-top: 15px;
}
.text-block .ul-with-blue-circles li {
  list-style-image: url(../img/circle.svg);
  list-style-position: inside;
  font-size: 17px;
  line-height: 35px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.mt50 {
  margin-top: 50px;
}

.mt25 {
  margin-top: 25px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  color: #444444;
  box-sizing: border-box;
}

a {
  transition: 0.3s;
  text-decoration: none;
  color: #0070af;
}
a:hover {
  transition: 0.3s;
}
a:active {
  transition: 0.3s;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #444444;
  padding-bottom: 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.first-banner {
  border-radius: 20px;
  height: 450px;
  background-color: #EBF4F4;
  background-image: url(../img/usp_background_element.png);
  background-position: 1000px;
  background-repeat: no-repeat;
  background-size: 44%;
  position: relative;
  padding-left: 80px;
}
@media (max-width: 1630px) {
  .first-banner {
    background-position: 600px;
    background-size: 57%;
  }
}
@media (max-width: 1210px) {
  .first-banner {
    background-image: none;
    height: 260px;
    background-color: white;
  }
}
@media (max-width: 600px) {
  .first-banner {
    padding: 20px;
    height: auto;
  }
}
@media (max-width: 400px) {
  .first-banner {
    padding: 0px;
  }
}
.first-banner__text-block {
  width: 45%;
  margin-right: 80px;
}
@media (max-width: 1210px) {
  .first-banner__text-block {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .first-banner__text-block {
    margin-right: 0px;
  }
}
.first-banner__image-block {
  width: 45%;
}
@media (max-width: 1210px) {
  .first-banner__image-block {
    display: none;
  }
}
.first-banner__image-block img {
  position: absolute;
  top: 33px;
}
.first-banner h1 {
  font-size: 56px;
  margin: 110px 0px 20px 0px;
}
@media (max-width: 1630px) {
  .first-banner h1 {
    margin: 75px 0px 20px 0px;
  }
}
@media (max-width: 1210px) {
  .first-banner h1 {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .first-banner h1 {
    margin: 20px 0px 20px 0px;
  }
}
.first-banner__text-block_mrt h1 {
  font-size: 56px;
  margin: 70px 0px 20px 0px;
}
@media (max-width: 1630px) {
  .first-banner__text-block_mrt h1 {
    margin: 25px 0px 20px 0px;
  }
}
@media (max-width: 1210px) {
  .first-banner__text-block_mrt h1 {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .first-banner__text-block_mrt h1 {
    margin: 20px 0px 20px 0px;
  }
}
.first-banner h2 {
  font-size: 18px;
  margin-bottom: 60px;
}
@media (max-width: 1210px) {
  .first-banner h2 {
    font-size: 16px;
  }
}
.first-banner a {
  border-radius: 50px;
  border: 3px solid #04A2A2;
  background-color: #04A2A2;
  color: white;
  font-size: 16px;
  padding: 15px 50px;
}
@media (max-width: 400px) {
  .first-banner a {
    padding: 15px 40px;
  }
}
@media (max-width: 340px) {
  .first-banner a {
    padding: 10px;
  }
}
.first-banner a:hover {
  background-color: transparent;
  color: #444444;
  transition: 0.1s;
  cursor: pointer;
}

.sidebar-wrapper {
  width: 25%;
  padding-right: 30px;
  margin-top: 50px;
}
@media (max-width: 1630px) {
  .sidebar-wrapper {
    width: 33%;
  }
}
@media (max-width: 1210px) {
  .sidebar-wrapper {
    width: 100%;
    padding-right: 0px;
  }
}

.sidebar {
  position: sticky;
  top: 20px;
}
@media (max-width: 1210px) {
  .sidebar {
    position: relative;
    top: 0px;
  }
}

.article-review {
  background: #F5F5F5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
}
@media (max-width: 400px) {
  .article-review {
    padding: 14px;
  }
}
.article-review h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #444444;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 15px;
  margin-top: 0px;
}
.article-review h5 {
  font-weight: 900;
  font-size: 16px;
  line-height: 140%;
  color: #0070AF;
  margin-bottom: 10px;
}
.article-review p {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
  color: #999999;
}
.article-review p:last-child {
  margin-bottom: 0px;
}
.article-review span:last-child {
  margin-bottom: 0;
}
.article-review span {
  border-top: 1px solid #D9D9D9;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #999999;
  padding-top: 30px;
  margin-bottom: 10px;
}
.article-review img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.article-review .row {
  padding: 30px 0;
}
.article-review .article-review__photo {
  padding: 0px 10px;
  width: 40%;
  max-width: 150px;
}
@media (max-width: 400px) {
  .article-review .article-review__photo {
    padding: 0px;
  }
}
.article-review .article-review__text {
  padding: 0px 10px;
  width: 60%;
}
@media (max-width: 400px) {
  .article-review .article-review__text {
    padding: 0px;
  }
}

.col50 {
  width: 50%;
  padding: 0px 15px;
}

.navigation {
  margin: 60px 0px;
}
@media (max-width: 1210px) {
  .navigation {
    display: none;
  }
}
.navigation ul {
  position: relative;
}
.navigation ul li {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 30px;
  white-space: nowrap;
  position: relative;
}
.navigation ul li::before {
  background: #e8e9ef;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  border-radius: 3px;
  width: 5px;
  transition: 0.3s;
}
.navigation ul li:not(:last-child) {
  margin-bottom: 20px;
}
.navigation ul li:hover::before {
  background: rgb(0, 112, 175);
}
.navigation ul:before {
  background: #e8e9ef;
  border-radius: 0 3px 3px 0;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 5px;
}
.navigation h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #444444;
  padding-bottom: 15px;
}
.navigation a {
  color: #444444;
}
.navigation a:hover {
  color: #147BB5;
}

.stocks {
  max-width: 80%;
}
@media (max-width: 1210px) {
  .stocks {
    display: none;
  }
}
.stocks h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #444444;
  padding-bottom: 15px;
}
.stocks .item {
  padding: 0px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #e8e8e8;
  background: #F5F5F5;
  margin-bottom: 0px;
  height: 100%;
  transition: all 0.3s ease-out;
}
.stocks a {
  outline: none;
  color: #147BB5;
  text-decoration: underline;
}
.stocks .item a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  position: relative;
}
.stocks .item .img {
  width: 100%;
}
.stocks .item .img img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.stocks .item .date {
  margin: 15px 15px;
  color: #909090;
  font-size: 12px;
}
.stocks .item .h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 15px 15px 15px 15px;
  color: #0070AF;
}
.stocks .item .text {
  font-size: 12px;
  margin: 0 15px 0px 15px;
  color: #444444;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.content {
  width: 50%;
  padding: 0px 30px;
  margin-top: 25px;
}
@media (max-width: 1630px) {
  .content {
    width: 67%;
  }
}
@media (max-width: 1210px) {
  .content {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .content {
    padding: 0px;
  }
}

.favors_list__name {
  width: 65%;
}
.favors_list__price {
  width: 12%;
  font-weight: 600;
  margin: auto 0px;
}
.favors_list__order {
  width: 23%;
  text-align: right;
  margin: auto 0px;
}
.favors_list__order a {
  font-size: 15px;
  color: #04A2A2;
  border: 2px solid #04A2A2;
  background-color: transparent;
  padding: 10px 22px;
  border-radius: 20px;
  font-weight: 500;
}
.favors_list__order a:hover {
  color: white;
  background-color: #04A2A2;
}
.favors_list__order_a-img {
  display: none;
}
@media (max-width: 650px) {
  .favors_list__order a {
    border: 2px solid #04A2A2;
    border-radius: 50px;
    padding: 10px;
    background-color: #04A2A2;
  }
  .favors_list__order a img {
    width: 40px;
    position: absolute;
    top: 5px;
    right: 1px;
  }
  .favors_list__order_a-text {
    display: none;
  }
  .favors_list__order_a-img {
    display: block;
    width: 50px;
    position: relative;
    height: 50px;
    top: -20px;
  }
}
@media (max-width: 650px) {
  .favors_list__order {
    width: 13%;
    height: 10px;
  }
  .favors_list__price {
    width: 22%;
  }
}
@media (max-width: 400px) {
  .favors_list__name {
    width: 50%;
  }
  .favors_list__order {
    width: 20%;
  }
  .favors_list__price {
    width: 30%;
  }
}
.favors_list li {
  list-style-type: none;
  padding: 24px;
  border-radius: 10px;
  font-size: 17px;
  line-height: 19.92px;
  margin-top: 20px;
  background-color: #EFF5F8;
}
@media (max-width: 650px) {
  .favors_list li:not(:last-child) a {
    float: right;
  }
}
.favors_list li:last-child {
  background-color: #FFF8B7;
}
.favors_list li:last-child .favors_list__name {
  width: 50%;
  margin: -13px 0px;
}
.favors_list li:last-child .favors_list__order {
  width: 50%;
}
.favors_list li:last-child .favors_list__order a {
  background-color: #04A2A2;
  color: white;
}
.favors_list li:last-child .favors_list__order a:hover {
  color: #04A2A2;
  background-color: transparent;
}
.favors_list li:last-child img {
  height: 42px;
}
.favors_list li:last-child img:last-child {
  display: none;
}
@media (max-width: 650px) {
  .favors_list li:last-child .favors_list__name {
    width: 40%;
  }
  .favors_list li:last-child .favors_list__order {
    width: 60%;
    height: auto;
  }
}
@media (max-width: 400px) {
  .favors_list li:last-child img {
    display: none;
  }
  .favors_list li:last-child img:last-child {
    display: block;
  }
  .favors_list li:last-child .favors_list__name {
    width: 20%;
  }
  .favors_list li:last-child .favors_list__order {
    width: 80%;
  }
}

.call-to-action-stock-for-first-buy {
  margin-top: 50px;
  height: 230px;
  background-image: url(../img/call-to-action-stock-for-first-buy.png);
  background-position-y: 500px;
  border-radius: 10px;
  color: white;
  overflow: hidden;
  max-width: 720px;
}
@media (max-width: 650px) {
  .call-to-action-stock-for-first-buy {
    height: auto;
  }
}
.call-to-action-stock-for-first-buy .gradient {
  background: radial-gradient(ellipse farthest-side at 194px 113px, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-top: 20px;
}
@media (max-width: 650px) {
  .call-to-action-stock-for-first-buy .gradient {
    padding-left: 20px;
  }
}
.call-to-action-stock-for-first-buy h3 {
  margin-top: 25px;
  font-weight: 500;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}
.call-to-action-stock-for-first-buy h5 {
  color: white;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 40px;
}
.call-to-action-stock-for-first-buy a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  background-color: #04A2A2;
  border: 4px solid #04A2A2;
  color: white;
  padding: 15px 40px;
  border-radius: 50px;
}
@media (max-width: 340px) {
  .call-to-action-stock-for-first-buy a {
    padding: 15px 20px;
  }
}
.call-to-action-stock-for-first-buy a:hover {
  background-color: transparent;
}
.call-to-action-stock-for-first-buy img {
  display: grid;
  position: relative;
  top: -100px;
}
@media (max-width: 650px) {
  .call-to-action-stock-for-first-buy img {
    top: 30px;
  }
}
.call-to-action-stock-for-first-buy__prices {
  position: relative;
  top: -28px;
  right: -52%;
  line-height: 24px;
  color: white;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}
@media (max-width: 650px) {
  .call-to-action-stock-for-first-buy__prices {
    top: 0;
    margin-top: 100px;
  }
}
@media (max-width: 349px) {
  .call-to-action-stock-for-first-buy__prices {
    margin-top: 0px;
    height: 100px;
    top: -70px;
    right: -70px;
  }
}
.call-to-action-stock-for-first-buy__prices s {
  color: white;
  font-size: 16px;
}

.call-to-action-get-consult {
  margin-top: 50px;
  max-width: 720px;
  height: 320px;
  background-image: url(../img/call-to-action-stock-for-first-buy.png);
  border-radius: 10px;
  color: white;
  overflow: hidden;
}
@media (max-width: 700px) {
  .call-to-action-get-consult {
    display: none;
  }
}
.call-to-action-get-consult b {
  color: white;
}
.call-to-action-get-consult .gradient {
  background: radial-gradient(ellipse farthest-side at 194px 153px, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-top: 20px;
}
.call-to-action-get-consult h3 {
  font-weight: 500;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}
.call-to-action-get-consult h5 {
  color: white;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 40px;
}
.call-to-action-get-consult h5:last-child {
  margin-top: 30px;
}
.call-to-action-get-consult input {
  padding: 12.5px 30px;
  border-radius: 50px;
  max-width: 224px;
  margin-right: 15px;
}
.call-to-action-get-consult a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  background-color: #04A2A2;
  border: 4px solid #04A2A2;
  color: white;
  padding: 9.5px 35px;
  border-radius: 50px;
}
.call-to-action-get-consult a:hover {
  background-color: transparent;
}

.call-to-action-dont-late {
  margin-top: 50px;
  height: auto;
  background-image: url(../img/call-to-action-stock-for-first-buy.png);
  border-radius: 10px;
  color: white;
  overflow: hidden;
  text-align: center;
  display: none;
}
@media (max-width: 700px) {
  .call-to-action-dont-late {
    display: block;
  }
}
.call-to-action-dont-late .gradient {
  background: radial-gradient(ellipse farthest-side at 270px 100px, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.call-to-action-dont-late h3 {
  margin-top: 25px;
  font-weight: 500;
  font-size: 26px;
  color: white;
  margin-bottom: 10px;
}
.call-to-action-dont-late h5 {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}
.call-to-action-dont-late a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  background-color: #04A2A2;
  border: 4px solid #04A2A2;
  color: white;
  padding: 9.5px 27.3px;
  border-radius: 50px;
}

.call-to-action-sidebar {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
  background-image: url(../img/usp_background_element.png);
  background-position: 40px;
  background-repeat: no-repeat;
  background-size: 160%;
}
@media (max-width: 1210px) {
  .call-to-action-sidebar {
    display: none;
  }
}
.call-to-action-sidebar h3 {
  font-size: 24px;
  line-height: 150%;
  margin: 0px;
  margin-bottom: 20px;
}
.call-to-action-sidebar input {
  width: 100%;
  border: 1px solid #D7D7D7;
  border-radius: 50px;
  padding: 14px 20px;
  margin-top: 10px;
  font-size: 16px;
}
.call-to-action-sidebar button {
  display: block;
  width: 100%;
  padding: 14px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #04A2A2;
  border: 2px solid #04A2A2;
  color: white;
  border-radius: 50px;
  transition: 0.3s;
}
.call-to-action-sidebar button:hover {
  transition: 0.3s;
  background-color: transparent;
  text-shadow: 0px 0px 10px black;
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  top: 30%;
  height: 40px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}

.prev {
  left: -49px;
}

.next {
  right: -49px;
}

.diagnostic-slider {
  margin-top: 25px;
}
.diagnostic-slider__element {
  font-size: 17px;
  padding: 8px;
  font-weight: 500;
}
.diagnostic-slider__element a {
  font-weight: 400;
  line-height: 40px;
  text-decoration: underline;
}
.diagnostic-slider__image {
  width: 100%;
  border-radius: 20px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}

@media (max-width: 700px) {
  .equipment {
    display: none;
  }
}
.equipment__element {
  background-color: #F5F5F5;
  border-radius: 10px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 17px;
}
.equipment__element img {
  width: 280px;
  height: 300px;
  border-radius: 10px 0px 0px 10px;
}
.equipment__element ul {
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  list-style-position: inside;
}
.equipment__element li {
  padding-bottom: 7px;
}
.equipment__text {
  padding: 28px;
}

.equipment-solo {
  background-color: #F5F5F5;
  border-radius: 10px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 17px;
  display: flex;
  flex-wrap: wrap;
}
.equipment-solo__img {
  width: 40%;
}
@media (max-width: 700px) {
  .equipment-solo__img {
    width: 100%;
  }
}
.equipment-solo__img img {
  width: 100%;
  height: 300px;
  border-radius: 10px 0px 0px 10px;
}
@media (max-width: 700px) {
  .equipment-solo__img img {
    height: 191px;
    border-radius: 10px 10px 0px 0px;
  }
}
.equipment-solo__text {
  width: 60%;
  padding: 28px;
}
@media (max-width: 700px) {
  .equipment-solo__text {
    width: 100%;
  }
}
.equipment-solo__text ul {
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  list-style-position: inside;
}
.equipment-solo__text li {
  padding-bottom: 7px;
}

.equipment-slider_wrapper {
  display: none;
}
@media (max-width: 700px) {
  .equipment-slider_wrapper {
    display: block;
  }
}

.equipment-slider__element {
  background-color: #F5F5F5;
  border-radius: 10px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 17px;
}
.equipment-slider__element img {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}
.equipment-slider__element ul {
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  list-style-position: inside;
}
.equipment-slider__element li {
  padding-bottom: 7px;
}
.equipment-slider__text {
  padding: 28px;
}

.img-block {
  width: 100%;
  margin-top: 25px;
  border-radius: 10px;
}

.call-to-action-order-now {
  margin-top: 50px;
  max-width: 720px;
  background-image: url(../img/call-to-action-order-now.png);
  background-position-y: 500px;
  border-radius: 10px;
  color: white;
  overflow: hidden;
  text-align: center;
  height: auto;
}
.call-to-action-order-now .gradient {
  background: radial-gradient(ellipse farthest-side at 340px 110px, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100%;
  padding: 20px 20px 60px 20px;
}
@media (max-width: 700px) {
  .call-to-action-order-now .gradient {
    background: radial-gradient(ellipse farthest-side at 225px 110px, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  }
}
.call-to-action-order-now h3 {
  margin-top: 25px;
  font-weight: 500;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .call-to-action-order-now h3 {
    font-size: 26px;
  }
}
.call-to-action-order-now h5 {
  color: white;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .call-to-action-order-now h5 {
    font-size: 16px;
  }
}
.call-to-action-order-now a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  background-color: #04A2A2;
  border: 4px solid #04A2A2;
  color: white;
  padding: 10px 28px;
  border-radius: 50px;
}
.call-to-action-order-now a:hover {
  background-color: transparent;
}
.call-to-action-order-now img {
  display: grid;
  position: relative;
  top: -125px;
  right: -515px;
}
.call-to-action-order-now__prices {
  position: relative;
  top: -201px;
  right: -280px;
  line-height: 24px;
  color: white;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}
.call-to-action-order-now__prices s {
  color: white;
  font-size: 16px;
}

.doctors-slider__element_wrapper {
  padding: 10px;
}

.doctors-slider__element {
  text-align: center;
  color: #9A9A9A;
  font-size: 14px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}
.doctors-slider__element img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.doctors-slider__element div {
  margin-top: 10px;
}
.doctors-slider__element .doctor_exp {
  color: #444444;
  background-color: #F5F5F5;
  padding: 8px;
  margin: 0px 45px;
  margin-top: 10px;
  border-radius: 6px;
}
.doctors-slider__element .doctor_bill:hover {
  background-color: transparent;
  color: black;
}
.doctors-slider__element div:last-child {
  margin: 30px 0px;
}
.doctors-slider__element a {
  font-size: 16px;
  padding-top: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #147BB5;
}
.doctors-slider__element .doctor_bill {
  background-color: #04A2A2;
  border: 2px solid #04A2A2;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 50px;
}

.background_green {
  background-color: #EBF4F4;
}

.background_blue {
  background-color: #EFF5F8;
}

.whywe-element {
  display: flex;
  height: 280px;
}
@media (max-width: 800px) {
  .whywe-element {
    display: block;
    height: 200px;
    margin-bottom: 210px;
  }
}
@media (max-width: 800px) {
  .whywe-element {
    height: 170px;
  }
}
@media (max-width: 550px) {
  .whywe-element {
    height: 120px;
  }
}
@media (max-width: 450px) {
  .whywe-element {
    height: 140px;
  }
}
@media (max-width: 390px) {
  .whywe-element {
    height: 130px;
  }
}
.whywe-element__img-block {
  width: 35%;
  padding: 20px 20px 0px 20px;
}
@media (max-width: 800px) {
  .whywe-element__img-block {
    height: 200px;
  }
}
@media (max-width: 550px) {
  .whywe-element__img-block {
    height: 130px;
  }
}
@media (max-width: 390px) {
  .whywe-element__img-block {
    height: 130px;
  }
}
.whywe-element__img-block img {
  width: 230px;
  border-radius: 10px;
  position: relative;
  top: -20px;
}
@media (max-width: 800px) {
  .whywe-element__img-block img {
    width: 210px;
  }
}
@media (max-width: 550px) {
  .whywe-element__img-block img {
    width: 150px;
  }
}
@media (max-width: 390px) {
  .whywe-element__img-block img {
    width: 115px;
    top: 0px;
  }
}
.whywe-element__img-block_r_phone {
  display: none;
}
@media (max-width: 800px) {
  .whywe-element__img-block_r_phone {
    display: block;
    position: relative;
    left: 65%;
  }
  .whywe-element__img-block_r_pc {
    display: none;
  }
}
@media (max-width: 750px) {
  .whywe-element__img-block_r_phone {
    left: 60%;
  }
}
@media (max-width: 650px) {
  .whywe-element__img-block_r_phone {
    left: 55%;
  }
}
.whywe-element__text-block {
  padding: 35px;
  border-radius: 10px;
  height: 250px;
}
@media (max-width: 800px) {
  .whywe-element__text-block {
    height: auto;
  }
}
@media (max-width: 390px) {
  .whywe-element__text-block {
    padding: 15px;
    padding-top: 20px;
  }
}
.whywe-element__text-block h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 800px) {
  .whywe-element__text-block h5 {
    position: relative;
    top: -160px;
    right: -227px;
    width: 60%;
    height: 20px;
  }
}
@media (max-width: 550px) {
  .whywe-element__text-block h5 {
    top: -136px;
    right: -150px;
  }
}
@media (max-width: 390px) {
  .whywe-element__text-block h5 {
    top: -110px;
    right: -130px;
  }
}
@media (max-width: 800px) {
  .whywe-element__text-block_r h5 {
    right: 0px;
  }
}
.whywe-element__text-block ul {
  list-style-position: inside;
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 800px) {
  .whywe-element__text-block ul {
    margin-top: -15px;
  }
}
.whywe-element__text-block ul li {
  padding-bottom: 7px;
}

.feedback {
  padding-top: 25px;
}
@media (max-width: 700px) {
  .feedback .row {
    display: block;
  }
}
.feedback__stars {
  width: 50%;
}
@media (max-width: 700px) {
  .feedback__stars {
    width: 100%;
    padding-right: 18px;
  }
}
.feedback__stars_text {
  font-weight: 600;
  font-size: 60px;
}
@media (max-width: 700px) {
  .feedback__stars_text {
    font-size: 40px;
  }
}
.feedback__stars img {
  width: 34px;
  height: 34px;
}
@media (max-width: 800px) {
  .feedback__stars img {
    width: 25px;
    height: 25px;
  }
}
.feedback__stars_sub-text {
  font-size: 16px;
  line-height: 22px;
}
.feedback__stars a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  background-color: #04A2A2;
  border: 4px solid #04A2A2;
  color: white;
  padding: 8.5px 68.3px;
  border-radius: 50px;
  line-height: 100px;
}
.feedback__stars a:hover {
  background-color: transparent;
  color: black;
}
.feedback__lines {
  width: 50%;
  padding-left: 18px;
  font-size: 17px;
  line-height: 40px;
}
@media (max-width: 700px) {
  .feedback__lines {
    width: 100%;
    padding: 0;
  }
}
.feedback__lines img {
  width: 100%;
}

.feedback-slider {
  margin-top: 50px;
}
.feedback-slider .prev, .feedback-slider .next {
  top: 40%;
}
.feedback-slider__element {
  background: #F5F5F5;
  padding: 60px 40px;
  border-radius: 10px;
}
.feedback-slider__element_name {
  font-weight: 600;
  font-size: 18px;
}
.feedback-slider__element_date {
  padding-top: 5px;
  font-weight: 400;
  font-size: 15px;
  color: #9A9A9A;
}
.feedback-slider__element_date img {
  display: inline-block;
  width: 18px;
  position: relative;
  top: 1px;
}
.feedback-slider__element_feedback {
  padding-top: 20px;
  font-size: 18px;
  line-height: 27px;
}

.may-be-interesting {
  padding-bottom: 50px;
}
.may-be-interesting h3 {
  padding-bottom: 20px;
}
.may-be-interesting a {
  white-space: nowrap;
  padding: 8px 24.2px;
  color: black;
  border: 2px solid #D9D9D9;
  border-radius: 50px;
  margin-right: 15px;
  margin-top: 15px;
}
.may-be-interesting a:hover {
  color: #147BB5;
  border: 2px solid #147BB5;
}
.may-be-interesting_a_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.licence-slider {
  padding-top: 50px;
}
.licence-slider .prev, .licence-slider .next {
  top: 50%;
}
.licence-slider_img {
  width: 95%;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
}

.call-to-action-order-now-large {
  margin-top: 50px;
  border-radius: 20px;
  background: linear-gradient(99.52deg, rgba(0, 112, 175, 0.8) 16.73%, #0070AF 69.56%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 60px;
}
@media (max-width: 1000px) {
  .call-to-action-order-now-large {
    padding: 10px 30px 40px 30px;
    margin-right: -15px;
    margin-left: -15px;
  }
}
.call-to-action-order-now-large_text {
  width: 55%;
}
@media (max-width: 1000px) {
  .call-to-action-order-now-large_text {
    width: 100%;
  }
}
.call-to-action-order-now-large b {
  color: white;
}
.call-to-action-order-now-large h3 {
  font-weight: 300;
  font-size: 44px;
  line-height: 110%;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 15px;
}
@media (max-width: 800px) {
  .call-to-action-order-now-large h3 {
    font-size: 28px;
  }
}
.call-to-action-order-now-large p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #ffffff;
}
@media (max-width: 800px) {
  .call-to-action-order-now-large p {
    font-size: 18px;
  }
}
.call-to-action-order-now-large button {
  background-color: #ffffff;
  border-radius: 40px;
  font-size: 18px;
  text-align: center;
  padding: 8px 20px;
  color: #338cbf;
  border: 2px solid #ffffff;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
@media (max-width: 384px) {
  .call-to-action-order-now-large button {
    padding: 8px 40px;
  }
}
@media (max-width: 350px) {
  .call-to-action-order-now-large button {
    padding: 8px 20px;
  }
}
.call-to-action-order-now-large button:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.our-advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-advantages_element {
  margin-top: 21px;
  width: 48.5%;
  height: 220px;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #EFF5F8 100%);
  border-radius: 10px;
  padding: 40px;
}
.our-advantages_element_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  margin-top: 8px;
}
@media (max-width: 800px) {
  .our-advantages_element {
    width: 100%;
    height: auto;
    display: flex;
  }
  .our-advantages_element_text {
    width: 80%;
  }
  .our-advantages_element_img {
    width: 20%;
    margin: auto;
  }
}
@media (max-width: 420px) {
  .our-advantages_element {
    padding: 20px;
  }
  .our-advantages_element_text {
    width: 70%;
  }
  .our-advantages_element_img {
    width: 30%;
  }
}
.our-advantages_element img {
  height: 50px;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .our-advantages_element img {
    margin: auto;
  }
}

.call-to-action-night {
  background: radial-gradient(89.2% 486.94% at 89.2% 81.62%, #2195D7 0%, #00669F 100%);
  padding: 40px 0px 30px 50px;
  color: white;
  border-radius: 10px;
  margin-top: 25px;
  overflow: hidden;
  max-height: 320px;
}
@media (max-width: 830px) {
  .call-to-action-night {
    padding: 25px;
    max-height: none;
  }
}
.call-to-action-night img {
  float: right;
  position: relative;
  top: -274px;
}
@media (max-width: 830px) {
  .call-to-action-night img {
    display: none;
  }
}
.call-to-action-night h3 {
  color: white;
  font-weight: 500;
}
@media (max-width: 830px) {
  .call-to-action-night h3 {
    margin-top: 10px;
  }
}
.call-to-action-night_time {
  color: white;
  margin-top: 10px;
  margin-bottom: 50px;
}
.call-to-action-night a {
  color: #2195D7;
  background-color: white;
  border: 2px solid white;
  padding: 13px 40px;
  border-radius: 50px;
  font-weight: 500;
}
@media (max-width: 830px) {
  .call-to-action-night a {
    padding: 8px 20px;
  }
}
.call-to-action-night a:hover {
  cursor: pointer;
  color: white;
  background-color: #2195D7;
}
.call-to-action-night_number {
  margin-top: 50px;
  font-size: 17px;
  color: white;
}
.call-to-action-night_number b {
  color: white;
}

.prices_element {
  background-color: #F5F5F5;
  padding: 20px;
  margin-top: 25px;
  font-size: 17px;
  border-radius: 10px;
}
.prices_element_day {
  display: flex;
  border-bottom: 1px solid #D6D9DB;
  padding-bottom: 20px;
}
.prices_element_night {
  display: flex;
  padding-top: 20px;
}
.prices_element_night .prices_element_name, .prices_element_night .prices_element_price {
  color: #F65858;
}
.prices_element_name {
  width: 85%;
  padding-right: 20px;
}
@media (max-width: 830px) {
  .prices_element_name {
    width: 70%;
  }
}
.prices_element_price {
  width: 15%;
  font-weight: 600;
  text-align: right;
}
@media (max-width: 830px) {
  .prices_element_price {
    width: 30%;
  }
}

.our-advantages-big hr {
  border: none;
  background-color: #D6D9DB;
  color: #D6D9DB;
  height: 1px;
  width: 90%;
  margin: auto;
}
.our-advantages-big_element:first-child {
  padding-top: 35px;
}
.our-advantages-big_element {
  display: flex;
  padding-top: 17px;
  padding-bottom: 15px;
}
@media (max-width: 800px) {
  .our-advantages-big_element {
    flex-wrap: wrap;
  }
}
.our-advantages-big_element_img {
  width: 30%;
}
@media (max-width: 800px) {
  .our-advantages-big_element_img {
    width: 100%;
  }
}
.our-advantages-big_element_img img {
  width: 188px;
  height: 214px;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .our-advantages-big_element_img img {
    width: 100%;
    height: 125px;
    margin-bottom: 20px;
  }
}
.our-advantages-big_element_text_wrapper {
  width: 70%;
  margin: auto 0px;
}
@media (max-width: 800px) {
  .our-advantages-big_element_text_wrapper {
    width: 100%;
    margin: 0px;
  }
}
.our-advantages-big_element_text h4 {
  font-weight: 500;
  font-size: 22px;
}
.our-advantages-big_element_text p {
  font-weight: 400;
  font-size: 17px;
  margin-top: 10px;
  line-height: 24px;
}

.how-it-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.how-it-work_element {
  margin-top: 21px;
  width: 48.5%;
  background: #EFF5F8;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}
@media (max-width: 500px) {
  .how-it-work_element {
    width: 100%;
  }
}
.how-it-work_element_large_text {
  width: 30%;
}
.how-it-work_element_large_text_time {
  text-align: center;
}
.how-it-work_element_large_text_time_num {
  font-size: 60px;
  color: #147BB5;
  margin-bottom: -10px;
}
.how-it-work_element_large_text_time_text {
  font-weight: 500;
  font-size: 18px;
  color: #147BB5;
}
.how-it-work_element_text {
  width: 70%;
  margin: auto 0;
  font-weight: 400;
  font-size: 17px;
  padding-left: 20px;
}
.how-it-work_element:last-child {
  width: 100%;
  display: block;
}
.how-it-work_element:last-child .how-it-work_element_large_text {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 10px;
  color: #147BB5;
  padding-left: 20px;
}
.how-it-work_element:last-child .how-it-work_element_text {
  width: 100%;
  font-size: 17px;
}

@media (max-width: 1200px) {
  .mrt-gallery {
    display: none;
  }
}

.mrt-gallery-slider {
  margin-top: 25px;
}
.mrt-gallery-slider .prev,
.mrt-gallery-slider .next {
  top: 45%;
}
.mrt-gallery-slider_element img {
  width: 100%;
}

.experts-opinion {
  background-color: #EFF5F8;
  padding: 46px;
  margin-top: 25px;
  border-radius: 10px;
}
@media (max-width: 700px) {
  .experts-opinion {
    padding: 30px 20px;
  }
}
.experts-opinion_who {
  display: flex;
  flex-wrap: wrap;
}
.experts-opinion_who_img {
  width: 20%;
}
@media (max-width: 700px) {
  .experts-opinion_who_img {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .experts-opinion_who_img {
    width: 100%;
    text-align: center;
  }
}
.experts-opinion_who_img img {
  width: 92px;
  height: 92px;
  border-radius: 50px;
}
.experts-opinion_who_text {
  width: 80%;
  margin: auto;
}
@media (max-width: 700px) {
  .experts-opinion_who_text {
    width: 70%;
  }
}
@media (max-width: 400px) {
  .experts-opinion_who_text {
    width: 100%;
    text-align: center;
  }
}
.experts-opinion_who_text_name {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 6px;
}
.experts-opinion_who_text_rank {
  font-weight: 400;
  font-size: 16px;
  color: #9A9A9A;
}
.experts-opinion_text p {
  font-size: 17px;
  line-height: 150%;
}

.result {
  padding: 40px 40px 60px 40px;
  border-radius: 10px;
  margin-top: 25px;
  background-color: #04A2A2;
}
@media (max-width: 700px) {
  .result {
    padding: 25px 25px 40px 25px;
  }
}
.result img {
  width: 64px;
  height: 64px;
}
@media (max-width: 700px) {
  .result img {
    width: 40px;
    height: 40px;
  }
}
.result h4 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 22px;
  color: white;
}
@media (max-width: 700px) {
  .result h4 {
    font-size: 18px;
  }
}
.result p {
  font-size: 16px;
  line-height: 150%;
  color: white;
  margin-bottom: 45px;
  margin-top: 10px;
}
@media (max-width: 700px) {
  .result p {
    font-size: 14px;
  }
}
.result a {
  padding: 13px 40px;
  background-color: white;
  color: #04A2A2;
  border-radius: 50px;
  border: 2px solid white;
  font-weight: 500;
  font-size: 16px;
}
.result a:hover {
  color: white;
  background-color: transparent;
}

.other-research-slider {
  margin-top: 25px;
}
.other-research-slider__element_wrapper {
  padding: 10px;
}
.other-research-slider__element {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 20px 20px 34px 20px;
}
.other-research-slider__element p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  min-height: 72px;
}
.other-research-slider__element a {
  font-size: 14px;
  padding: 14px 35px;
  text-decoration: none;
  color: white;
  background-color: #04A2A2;
  border: 2px solid #04A2A2;
  border-radius: 50px;
}

.helpful-information {
  margin-top: 25px;
}
.helpful-information_element {
  margin-top: 15px;
  padding: 20px 30px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  transition: 0.3s;
}
.helpful-information_element h3 {
  font-weight: 600;
  font-size: 17px;
  line-height: 150%;
  padding-right: 30px;
}
.helpful-information_element p {
  font-size: 16px;
  line-height: 24px;
  display: none;
  transition: 0.3s;
}
.helpful-information_element_img {
  height: 0px;
}
.helpful-information_element_img .active {
  transform: rotate(45deg);
  transition: 0.3s;
}
.helpful-information_element_img img {
  position: relative;
  right: -97%;
  top: -6px;
  transition: 0.3s;
}
@media (max-width: 800px) {
  .helpful-information_element_img img {
    right: -96%;
  }
}
@media (max-width: 500px) {
  .helpful-information_element_img img {
    right: -95%;
  }
}
.helpful-information_element_img img:hover {
  cursor: pointer;
}
.helpful-information .active_element {
  border: 1px solid #147BB5;
}
.helpful-information .active_element p {
  display: block;
}