@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


h1,
h2,
h3,
h4 {
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #444444;
    padding-bottom: 200px;
}

.bold {
    font-weight: 500;
}

.extrabold {
    font-weight: 700;
}

.light_green {
    background-color: #EBF4F4;
    ;
}

.light_blue {
    background-color: #EFF5F8;
}

.light_yellow {
    background-color: #FFF8B7;
}

.container {
    width: 1620px;
    margin: 0 auto;
}

.row {
    display: flex;
    padding: 0 -15px;
}

.col10,
.col15,
.col25,
.col40,
.col50,
.col60,
.col70,
.col100,
.colauto,
.col,
.row {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col10 {
    flex: 0 1 10%;
    max-width: 10%;
    padding: 0 25px;
}

.col15 {
    flex: 0 1 15%;
    max-width: 15%;
    padding: 0 25px;
}

/* .col25 {
    flex: 0 1 25%;
    max-width: 24%;
    padding: 0 25px;
} */

.col40 {
    flex: 0 1 40%;
    max-width: 40%;
    padding: 0 25px;
}

.col50 {
    flex: 0 1 50%;
    max-width: 46%;
    padding: 0 25px;
}

.col60 {
    flex: 0 1 60%;
    max-width: 60%;
    padding: 0 25px;
}

.col70 {
    flex: 0 1 70%;
    max-width: 70%;
    padding: 0 25px;
}



.col100 {
    flex: 0 1 100%;
    max-width: 100%;
    padding: 0 25px;
}

.colauto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;

}

.col {
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}

.usp {
    border-radius: 20px;
    width: 100%;
    height: 450px;
    background-image: url(../img/usp_background_element.png);
    background-position: 943px;
    background-repeat: no-repeat;
    background-size: 44%;
    position: relative;
}

.usp_last_blue {
    border-radius: 20px;
    background: linear-gradient(99.52deg, rgba(0, 112, 175, 0.8) 16.73%, #0070AF 69.56%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 60px;
}

.usp_last_blue h1 {
    font-weight: 300;
    font-size: 44px;
    line-height: 110%;
    color: #ffffff;
    margin-bottom: 30px;
}

.usp_last_blue h2 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #ffffff;
}

.usp_last_blue a {
    background-color: #ffffff;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    padding: 8px 20px;
    color: #338cbf !important;
    border: 1px solid #ffffff;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}

.usp_last_blue a:hover {
    background-color: transparent;
    color: white !important;
    transition: .3s;
}

.w70 {
    width: 50%;
}


.fs56px {
    font-size: 56px;
}

.fs18px {
    font-size: 18px;
}

.fs16px {
    font-size: 16px;
}




.usp_text_block {
    width: 700px;
    padding-left: 90px;
    height: 225px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.usp_image {
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 480px;
}

.article-review {
    background: #F5F5F5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}

.article-review h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #444444;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 15px;
}

.article-review a {
    text-decoration: none;
    opacity: 1;
    transition: all .3s ease-out;
}

.article-review h5 {
    font-weight: 900;
    font-size: 16px;
    line-height: 140%;
    color: #0070AF;
    margin-bottom: 10px;
}

.article-review p {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 5px;
    color: #999999;
}

.article-review p:last-child {
    margin-bottom: 0px;
}

.article-review span:last-child {
    margin-bottom: 0;
}

.article-review span {
    border-top: 1px solid #D9D9D9;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #999999;
    padding-top: 30px;
    margin-bottom: 10px;
}

.article-review img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.article-review .row {
    padding: 30px 0;
}

a {
    color: #0070af;
}






.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.doctor_desc {
    border-left: 6px solid #147BB5;
    padding-left: 20px;
    line-height: 30px;
    font-size: 20px;
}

.first_doctor_desc h3 {
    border-left: 6px solid #147BB5;
    padding-left: 20px;
    line-height: 30px;
    font-size: 20px;
}

.first_doctor_desc p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 25.5px;
}

.usp_text_h2 {
    padding-top: 15px;
    padding-bottom: 40px;
}

.mt25 {
    margin-top: 25px;
}

.p {
    font-size: 16px;
    line-height: 25.5px;
}

h2 {
    font-size: 34px;
}

.diagnostic h2 {
    font-size: 34px;
    margin-top: 50px;
}

.diagnostic h3 {
    border-left: 6px solid #147BB5;
    padding-left: 20px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
}

.diagnostic p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 25.5px;
}


.prices_list li {
    list-style-type: none;
    padding: 20px 5px;
    border-radius: 10px;
    font-size: 17px;
    line-height: 19.92px;
    margin-top: 20px;
}

.prices_list li:last-child {
    padding: 5px 0px;
}


.prices_list li a {
    font-size: 15px;
    color: #04A2A2;
    border: 2px solid #04A2A2;
    background-color: transparent;
    padding: 10px 22px;
    position: absolute;
    border-radius: 20px;
    top: -10px;
    left: 30px;
    transition: all .3s ease-out;
    display: block;
    font-weight: 500;
    text-decoration: none;
}

.prices_list li:last-child a {
    color: white;
    background-color: #04A2A2;
    top: 3px;
    left: -6px;
}

.prices_list li:last-child img {
    height: 45px;
}

.prices_list li a:hover {
    color: white;
    background-color: #04A2A2;
    transition: all .3s ease-out;
    cursor: pointer;
}

.prices_list li:last-child a:hover {
    color: #04A2A2;
    background-color: transparent;
    transition: all .3s ease-out;
    cursor: pointer;
}

.usp_stock {
    height: 260px;
    background-image: url(../img/usp_stock_fone.png);
    background-position-y: 500px;
    border-radius: 10px;
    color: white;
    overflow: hidden;
}

.third_usp .usp_stock {
    background-image: url(../img/usp_third_fone.png);
}

.consult {
    background-position-y: 0px;
    height: 350px;
}

.consult input {
    padding: 20px;
    border-radius: 50px;
    height: 17px;
    position: relative;
    left: 38px;
}

.consult::placeholder {
    color: #9A9A9A;
}

.gradient {
    background: radial-gradient(ellipse farthest-side at 194px 113px, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
}

.third_usp .gradient {
    background: radial-gradient(ellipse farthest-side at 340px 113px, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
}

.usp_stock h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 40px;
}

.third_usp h3 {
    text-align: center;
    padding-left: 0;
}

.usp_stock h4 {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 35px;
    width: 400px;
    margin-left: 40px;
}

.third_usp h4 {
    text-align: center;
    margin-left: 0px;
    width: 100%;
}

.third_usp .usp_stock_inner_block {
    text-align: center;
}

.third_usp .usp_stock h4 {
    text-align: center;
}

.usp_stock h4:last-child {
    margin-top: 42px;
}

.usp_stock a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    background-color: #04A2A2;
    border: 4px solid #04A2A2;
    color: white;
    padding: 15px 40px;
    border-radius: 50px;
    margin-left: 42px;
    transition: .3s;
}

.third_usp a {
    margin-left: 0;
}

.consult a {
    margin-left: 70px;
}

.usp_stock a:hover {
    background-color: transparent;
    color: white;
    transition: .3s;
}

.usp_stock svg {
    position: relative;
    top: -85px;
    right: -545px;
}


.usp_stock_inner_block {
    position: relative;
    top: 20px;
}

.usp_stock_discount {
    position: relative;
    top: -177px;
    right: -616px;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
}

.usp_stock_discount s {
    font-weight: 500;
    font-size: 16px;
    padding-left: 20px;
}

.pain_list {
    padding-top: 15px;
}

.pain_list li {
    list-style-image: url(../img/circle.svg);
    list-style-position: inside;
    font-size: 17px;
    line-height: 35px;
}

.slider_element_img {
    width: 90%;
    border-radius: 20px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.diagnostic_slider div {
    font-size: 17px;
    padding: 5px;
}

.diagnostic_slider a {
    padding-top: 11px;
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 30%;
    height: 50px;
    width: 50px;
    z-index: 1;
    cursor: pointer;
}

.prev {
    left: -80px;
}

.next {
    right: -80px;
}

.our_tech_element {
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 268px;

}

.our_tech_element img {
    border-radius: 10px;
    height: 268px;
    width: 268px;
    object-fit: cover;
    position: relative;
    top: 0px;
    left: 0px;
}

.our_tech_element div {
    position: relative;
    top: -250px;
    left: 300px;
    font-weight: 600;
    font-size: 17px;
}

.our_tech_element ul {
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
    list-style-position: inside;
}

.our_tech_element li {
    padding-bottom: 7px;
}

.w100 {
    width: 100%;
}

.doctor_card {
    text-align: center;
    color: #9A9A9A;
    font-size: 14px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin: 10px;
}

.doctor_card img {
    width: 100%;
    border-radius: 10px;
}

.doctor_card div {
    margin-top: 10px;
}

.doctor_card .doctor_exp {
    color: #444444;
    background-color: #F5F5F5;
    padding: 8px;
    margin: 0px 45px;
    margin-top: 10px;
    border-radius: 6px;
}

.doctor_card .doctor_bill {
    background-color: #04A2A2;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 50px;
}

.doctor_card div:last-child {
    margin: 30px 0px;
}

.doctor_card a {
    font-size: 16px;
    padding-top: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #147BB5;
}

.doctor_card_wrapper {
    padding: 10px;
}

.whywe .row {
    padding-right: 0px;
    padding-left: 0px;
}

.whywe_img_block {
    width: 37%;
    height: 200px;
}

.whywe_img {
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 6px;
    z-index: 10;

}

.whywe_img_fone {
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 6px;
    position: relative;
    z-index: -10;
    top: -200px;
    right: -20px;
}

.whywe_text_block {
    width: 63%;
    height: 255px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.whywe_img_block_right .whywe_img {
    margin-left: 30px;
}

.whywe_img_block_right .whywe_img_fone {
    right: -52px;
}

.whywe_text_block div {
    position: relative;
    top: 34px;
    left: 44px;
    width: 82%;
}

.whywe_text_block ul {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
}

.whywe_text_block li {
    padding-bottom: 7px;
}

.feedback {
    font-size: 60px;
    font-weight: 600;
}

.feedback svg {
    margin-right: -5px;
}

.feedback_p {
    font-size: 16px;
    width: 345px;
    margin-bottom: 40px;
}

.feedback_block .row {
    padding-left: 0px;
    padding-right: 0px;
}

.w50 {
    width: 50%;
}

.feedback_percents {
    font-size: 17px;
}

.feedback_block a {
    background-color: #04A2A2;
    border: 4px solid #04A2A2;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;
    padding: 12px 80px;
    margin-top: 20px;
    transition: .3s;
}

.mtspec {
    margin-top: 120px;
}

.mt_db_other {
    margin-top: 40px;
}

.feedback_block a:hover {
    background-color: transparent;
    color: #04A2A2;
    transition: .3s;
}

.feedback_slider_element_inner {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 50px;
}

.feedback_slider_element .name {
    font-weight: 600;
    font-size: 18px;
}

.feedback_slider_element .date {
    font-weight: 400;
    margin-top: 4px;
    font-size: 15px;
    color: #9A9A9A;
}

.feedback_slider_element .feedback {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.may_be_interested a {
    text-decoration: none;
    border: 2px solid #D9D9D9;
    padding: 10px 20px;
    color: #444444;
    border-radius: 50px;
    margin-right: 10px;
    transition: .3s;
}

.may_be_interested a:hover {
    border: 2px solid #147BB5;
    color: #147BB5;
    transition: .3s;
}

.licence_slider_img {
    height: 334px;
    width: 236px;
    border: 2px solid #D9D9D9;
}

.usp_text_block h1 {
    font-size: 56px;
}

.usp_text_block h2 {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.usp_text_block a {
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    border: 3px solid #04A2A2;
    background-color: #04A2A2;
    color: white;
    padding: 17px 50px;
    transition: 0.3s;
    font-size: 16px;
}

.usp_text_block a:hover {
    background-color: transparent;
    color: black;
    transition: 0.1s;
    cursor: pointer;
}

.prices_list .col25 a .icon {
    display: none;
}

.prices_list .col25 a br {
    display: none;
}

.mdblock {
    display: none;
}

@media (max-width: 900px) {
    .w70 {
        width: 100%;
    }

    .text {
        position: relative;
        top: -66px;
    }

    .mdblock {
        display: block;
    }



    .why_we_mobile_element_image,
    .why_we_mobile_element_fone {
        position: relative;
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
    }

    .why_we_mobile_element_image {
        top: -90px;
        z-index: 1;

    }

    .why_we_mobile_element_fone {

        top: -207px;
        left: 8px;
        z-index: 0;
    }

    .tech_slider_element {
        background-color: #F5F5F5;
        font-weight: 600;
        font-size: 16px;
        border-radius: 10px;
        margin: 10px;
    }

    .tech_slider_element ul {
        margin-top: 15px;
        font-weight: 400;
        font-size: 15px;
        list-style-position: inside;
    }

    .tech_slider_element li {
        padding-bottom: 7px;
    }

    .tech_slider_element div {
        padding: 20px;
        ;
    }

    .tech_slider_element img {
        height: 300px;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    .mdnone {
        display: none;
    }

    .prices_list .col25 a br {
        display: block;
    }

    .container {
        max-width: 95%;
    }

    .usp .usp_image {
        display: none;
    }

    .usp_text_block {
        width: 100%;
        padding-left: 0px;
        height: auto;
        position: relative;
        margin: 0px 0px;
    }

    .usp_text_block h1 {
        font-weight: 400;
        font-size: 24px;
        padding-top: 50px;
    }

    .usp_text_block h2 {
        font-weight: 400;
        font-size: 16px;
    }

    .col100 {
        flex: 0 1 100%;
        max-width: 100%;
        padding: 0px 0px;
    }

    .row {
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .usp {
        width: 90%;
        background-color: white;
    }

    .col25 {
        flex: 0 1 100%;
        max-width: 100%;
        padding: 0px 0px;
    }

    .col10 {
        flex: 0 1 100%;
        max-width: 100%;
        padding: 0px 0px;
    }

    .col15 {
        flex: 0 1 100%;
        max-width: 100%;
        padding: 0px 0px;
    }

    .col40 {
        flex: 0 1 100%;
        max-width: 100%;
        padding: 0px 0px;
    }

    .col50 {
        flex: 0 1 100%;
        max-width: 100%;
        padding: 0px 0px;
    }

    .col60 {
        flex: 0 1 100%;
        max-width: 100%;
        padding: 0px 0px;
    }

    .col70 {
        flex: 0 1 100%;
        max-width: 100%;
        padding: 0px 0px;
    }

    .usp {
        height: auto;
        padding-bottom: 20px;
    }

    .col10,
    .col15,
    .col25,
    .col40,
    .col50,
    .col60,
    .col70,
    .col100,
    .colauto,
    .col,
    .row {
        position: relative;
        width: auto;
        padding-right: 0px;
        padding-left: 0px;
    }

    .article-review img {
        width: 200px;
        height: 200px;
    }

    .article-review {
        margin-bottom: 40px;
    }

    .prices_list .row {
        display: flex;
    }

    .prices_list .col70 {
        flex: 0 1 60%;
    }

    .prices_list .col10 {
        flex: 0 1 15%;
    }

    .prices_list .col25 {
        flex: 0 1 25%;
    }

    .prices_list .col25 a .text {
        display: none;
    }

    .prices_list .col25 a .icon {
        display: block;
        fill: white;
        margin-top: 5px;
        width: 30px;
    }

    .prices_list .col25 a {
        padding: 0px 6px;
        border-radius: 50px;
        color: white;
        background-color: #04A2A2;

    }

    .navi,
    .stocks {
        display: none;
    }

    .usp_stock {
        min-height: 350px;
        height: auto;
    }

    .usp_stock svg {
        top: 11px;
        right: -76%;
    }

    .usp_stock_discount {
        top: -85px;
        right: -84%;
    }


    .usp_stock h4 {
        width: auto;
    }

    .consult a {
        position: relative;
        right: 27px;
        width: 170px;
        margin-top: 18px;
    }

    .usp_stock h4:last-child {
        margin-top: 100px;
    }

    .usp_stock a {
        display: block;
        padding: 15px 50px;
    }

    .slider_element_img {
        height: 127px;
    }

    .consult input {
        padding: 20px 39px;
        border-radius: 50px;
        width: 200px;
        margin-left: 40px;
        position: relative;
        left: 0px;
    }

    .licence_slider {
        margin-top: 30px;
    }

    .third_usp .gradient {
        background: radial-gradient(circle at 346px -19px, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
    }

    .gradient {
        height: 350px;
    }

    .default a {
        display: inline;
    }

    .consult .gradient {
        height: 500px;
    }

    .third_usp a {
        display: inline;
    }

    .prices_list li:last-child a {
        padding: 0px 27px;
    }

    .why_we_mobile_element h2 {
        font-weight: 600;
        font-size: 16px;
    }

    .flex {
        display: flex;
    }

    .why_we_mobile_element_image_block {
        width: 30%;
    }

    .why_we_mobile_element_name_block {
        width: 70%;
    }

    .why_we_mobile_element_name_block h2 {
        margin-top: -68px;
    }

    .why_we_mobile_element_text_block ul {
        margin-top: -180px;
        font-weight: 400;
        font-size: 16px;
        padding: 0px 43px;
        padding-bottom: 20px;
    }

    .why_we_mobile_element_text_block li {
        padding-bottom: 7px;
    }

    .feedback_block .w50 {
        width: 100%;
    }

}

@media (max-width: 625px) {
    .usp_stock svg {
        right: -68%;
    }

    .usp_stock_discount {
        right: -79%;
    }

    .usp_stock_inner_block {
        z-index: 2;
    }

    .why_we_mobile_element_image_block {
        width: 40%;
    }

    .why_we_mobile_element_name_block {
        width: 60%;
    }

    .feedback_p {
        width: auto;
    }

}

@media (max-width: 522px) {
    .usp_stock svg {
        top: -28px;
        right: -60%;

    }

    .usp_stock_discount {
        top: -111px;
        right: -73%;
    }

    .usp_stock a {
        padding: 15px 20px;
    }

    .usp_last_blue {
        padding: 25px;
    }

    .hide_on500 {
        display: none;
    }
}


@media (max-width: 410px) {
    .prices_list .col10 {
        flex: 0 1 20%;
    }

    .prices_list .col25 {
        flex: 0 1 10%;
    }

    .prices_list .col70 {
        flex: 0 1 55%;
    }

    .consult {
        min-height: 538px;
    }

    .consult input {
        padding: 20px 23px;
    }

    .may_be_interested a {
        padding: 5px 8px;
    }
}

@media (max-width: 390px) {
    .why_we_mobile_element_fone {
        display: none;
    }

    .why_we_mobile_element_text_block ul {
        margin-top: -75px;
    }

    .usp_text_block a {
        padding: 15px 23px;
    }

}